<div class="header mt-4">
  <h1 class="text-center">USD Nexus</h1>
  <h2 class="text-center">"Sua fonte confiável de cotações"</h2>
  <h3 class="text-center">Veja a cotação atual do USD e explore os dados históricos para  período selecionado!</h3>
</div>

<div class="buscarPorPeriodo">
  <h4>USD - Cotação Atual - {{cotacaoAtual}}</h4>
  Histórico de cotações
  <label class="mr-3" for="dataInicial">Data inicial:</label>
  <input id="dataInicial" type="date" name="dataInicial" #dataInicial>
  <label class="mr-3" for="dataFinal">Data final:</label>
  <input id="dataFinal" type="date" name="dataFinal" #dataFinal>
  <button mat-raised-button color="primary" type="submit" class="btnPesquisar" (click)="getCotacaoPorPeriodo(dataInicial.value, dataFinal.value)" > Pesquisar </button>
</div>

<div class="mt-3">
  <ul *ngFor="let item of cotacaoPorPeriodoLista">
    <li class="listaHistoricoCotacoesItem">
      <span class="historicoDeCotacoesItemInfo"> {{item.data}}-{{item.hora}}  </span>
      <span class="historicoDeCotacoesItemInfo"> {{item.preco}} </span>
    </li>
  </ul>
</div>


